.footer-main{
    height: 40vh;
    background-color: #363636;
    color: white;
}

.footer-container {
    margin-top: 5rem !important;
}
.list-footer{
    list-style: none;
}
.footer-last {
    text-align: center;
}
.logo-footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white !important;
    font-weight: 700;
    font-size: 2rem;
    font-style: italic;
}