.search {
    padding: 6rem;
    background-color: white;
    width:80vw;
    margin-top: -5rem;
    margin-left: 8rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    
}
.chose {
    background-color: rgb(219, 217, 217);
    margin-left: 1rem;
    border: none;
    padding: 0.3rem;
    width: 7rem;
}
.search-button{
    background-color:#ffc13d;
    margin-left: 9rem;
    border: none;
    padding: 0.3rem;
    width: 7rem;
}